@page "/"
@using Blazored.SessionStorage;
@using Microsoft.AspNetCore.Authorization;
@inject ISessionStorageService SessionStorage
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="status">Current count: @token</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
	private string token = "";

	private async Task IncrementCount()
	{
		token = await SessionStorage.GetItemAsync<string>("token");
	}
}
