
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @{
                    if (context.User.Identity?.IsAuthenticated != true)
                        navManager.NavigateTo("/auth/login");
                }

            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">>No se encontro esta direccion.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
@code {
}